services:
  db:
    image: postgres:15
    container_name: sample-java-db
    environment:
      POSTGRES_DB: sampledb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      retries: 5

  app:
    build: .
    container_name: sample-java-app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "9095:9095"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/sampledb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
