spring:
  datasource:
    url: jdbc:postgresql://db:5432/sampledb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 9095

# Logs konfiguratsiyasi
logging:
  level:
    root: INFO
    com.example: DEBUG
  file:
    name: /app/logs/app.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

# Actuator endpoints va Prometheus
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
    prometheus:
      enabled: true
  metrics:
    enable:
      all: true
