server:
  port: 8080

spring:
  application:
    name: sample-java-ci-cd

  datasource:
    url: jdbc:postgresql://db:5432/sampledb
    username: sample
    password: sample

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health
